# Framework da Interface
streamlit

# Processamento de Dados e Gráficos
pandas
plotly

# Inteligência Artificial (Google Gemini)
google-genai

# Gestão de Variáveis de Ambiente (.env)
python-dotenv

# Utilizado para requisições de API e E-mail
requests